<mat-toolbar color="primary" class="mat-elevation-z4 header" fxLayoutAlign="space-between center">
    <div class="pointer" [routerLink]="['/']"><span>Angular</span><span>Peliculas</span></div>
    <div>
        <button mat-button color="" [routerLink]="[ '/buscar']"><mat-icon class="" aria-hidden="false" aria-label="icon">search</mat-icon>Buscar</button>
        <button mat-button color="" [routerLink]="[ '/']"><mat-icon class="" aria-hidden="false" aria-label="icon">emoji_events</mat-icon>TOP</button>
    </div>
</mat-toolbar>
<mat-toolbar></mat-toolbar>
